@layer components {
  .btn-primary {
    @apply bg-turquoise;
    @apply text-white;
  }

  .btn-primary:hover {
    background-color: #1C9BA4;
  }

  .btn-primary:active {
    border: 1px solid #30AFB8;
    background: #F9F9F9;
    @apply text-turquoise;
  }

  .btn-default {
    @apply bg-white;
    @apply text-white;
    @apply border;
    @apply border-gray-dark;
    @apply text-gray-dark;
  }

  .btn-default:hover, .btn-default:focus {
    @apply bg-white;
    @apply border-turquoise;
    @apply text-turquoise;
  }

  .btn-default:active {
    @apply border-0;
    @apply bg-gray-dark;
    @apply text-white;
  }

  .section {
    @apply md:px-10 sm:px-5 px-0;
    @apply lg:mt-[120px] md:mt-[80px] mt-[60px];
  }

  .section-title {
    @apply lg:pb-[80px] md:pb-[60px] pb-[40px]
  }

  .text-description {
    @apply text-[16px] sm:text-[18px];
    @apply leading-[130%];
  }

  .footer {
    border-radius: 20px 20px 0 0;
  }
}
